.header {
    background-color: #f0f0f0;
    display: block;
    margin: 1rem 2rem 5rem 2rem;
}
.header__topBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.header__topBar__section {
    display: block;
}
.iconesSociais {
    color: #656565;
    font-size: 18px;
    padding: 0 .5rem;
}
.iconesSociais:hover {
    color: #f56262
}
.last-children a {
    display: flex;
}
.barraPesquisa {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    border: none;
}
.cabecalho:nth-child(2) {
    width: 100%;
    height: 30px;
}